<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/highlight.js/styles/foundation.css">
    <script>
        $(document).ready(function() {
            hljs.initHighlightingOnLoad();

            $.ajax({
                url: "<%= url %>",
                success: function(data) {
                    $('#code').html(data)
                    $('#code').each(function(i, block) {
                        hljs.highlightBlock(block);
                    });
                }
            });
        });
    </script>
    <title> <%= title %> </title>
</head>
<body>
    <pre id="code"></pre>
</body>
</html>
