<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> hatlonely的博客 </title>
</head>
<body>

<ul>
<% items.forEach(function(item){ %>
    <li><a href="<%= item.url %>"><%= item.doc %></a></li>
<% }) %>
</ul>

</body>
</html>
